<div class="container">
  <h2 class="my-3">ngx-print-element</h2>

  <table id="demo" class="table table-bordered">
    <tr>
      <th>No</th>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr class="print-none" style="background: greenyellow"><!-- No print -->
      <td>01</td>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>02</td>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
    <tr>
      <td>03</td>
      <td>AIS Playground</td>
      <td>Nakhon Pathom</td>
      <td>Thailand</td>
    </tr>
    <tr class="print-none" style="background: greenyellow"> <!-- No print -->
      <td>04</td>
      <td>FPT Software</td>
      <td>Cau Giay</td>
      <td>Vietnamese</td>
    </tr>
  </table>
  
  <!-------------------------->
  <!---- 1# The first way ---->
  <!-------------------------->
  <h5 class="my-3">1# The first way doesn't need configuration</h5>

  <!-- Component -->
  <ngx-print-element #element="element">
    <button (click)="element?.print('demo')" class="btn btn-info m-1">1# Print table</button>
  </ngx-print-element>
  
  <!-- Directive -->
  <button [print]="['demo']" class="btn btn-info m-1">Directive - 1# Print table</button>
  
  <!-- Service -->
  <button (click)="print.print('demo')" class="btn btn-info m-1">Service - 1# Print table</button>

  <!-------------------------->
  <!--- 2# The second way ---->
  <!-------------------------->
  <h5 class="my-3">2# The second way needs configuration</h5>
  <button [print]="['demo', config]" class="btn btn-info">2# Print table</button>
  
  <!-------------------------->  
  <!-- Button trigger modal -->
  <!-------------------------->  
  <h5 class="my-3">3# Test modal</h5>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal">
    Open modal
  </button>

  <h5 class="my-3">4# Test After Print</h5>
  <button (click)="onPrint1('demo')" class="btn btn-info m-1">4.1# Print table</button>
  <button (click)="onPrint2('demo')" class="btn btn-info m-1">4.2# Print table</button>
  <button (click)="onPrint3('demo')" class="btn btn-info m-1">4.3# Print table</button>

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>ngx-print-element</p>
          <p class="print-none">HELLO WORLD</p><!-- No print -->
        </div>
        <div class="modal-footer">
          <button type="button" [print]="['modal']" class="btn btn-info">1# Print modal</button>
          <button type="button" [print]="['modal', config]" class="btn btn-info">2# Print modal</button>
        </div>
      </div>
    </div>
  </div>

  <h5 class="mt-3">Author: DaiDH</h5>
</div>